YOOKASSA_CALLBACK_URL=
NEXTAUTH_SECRET=
RESEND_API_KEY=
YOOKASSA_API_KEY=
YOOKASSA_STORE_ID=
GITHUB_ID=
GITHUB_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
POSTGRES_URL=
PRISMA_DATABASE_URL=
DATABASE_URL=
NEXT_PUBLIC_API_URL=
